body{
    color: darkred;
    font-family:Arial;
    font-size: 18px;
}
header,footer{
    background-color: blanchedalmond;
}
.title{
    color: black;
}
#malaki{
    box-shadow: 0px 0px 2px 1px red;
}
ul.hobbies{
    list-style: square;
}
.hobbies li:nth-child(odd){
    background-color: aqua;
}