.wrapper{
    background-color: #a1f3e9;
    width:900px;
    margin: auto;
    
.pad{
    padding-left: 10px;
}

}
#starfish{
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 10px;
    padding-bottom: 15px;
}

nav ul{
    padding: 10px;
    text-align: center;
}

nav li{
    display: inline-block;
    font-size: 1.5rem;
    margin: 10px;
}

.facts{
    text-align: left;
    list-style-position: inside;
    padding: 0px;
    margin: 0px
}

body{
    background-color:#aad4cf;
}
