#widestar{
    width: 100%;
    height: auto;
    position: relative;
}

.about{
    color: white;
    font-size: 2rem;
    margin: 5px;
}

.title{
    position: absolute;
    text-align: center;
    font-size: 3rem;
    color: white;
    right: 42%;
    top: 20%;
}

.wrapper{
    background-color: #a1f3e9;
    width:900px;
    margin: auto;
    


.padding{
    padding-left: 10px;
    line-height: 20px;
}

}
#starfish{
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 10px;
    padding-bottom: 15px;
}

nav ul{
    padding: 10px;
    text-align: center;

}

nav li{
    display: inline-block;
    font-size: 1.5rem;
    margin: 0px 50px;
}

.facts{
    text-align: left;
    list-style-position: inside;
    list-style: square;
    padding-left: 20px;

}

body{
    background-color:#aad4cf;
    font-family: 'Times New Roman', Times, serif;
    fo
}