#widestar{
    width: 100%;
    height: auto;
    position: relative;
}

.about{
    color: black;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title{
    /* makes the font hover over the text using absolute positioning */
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 42%;
}

.wrapper{
    background-color: #D4E9E7;
    width:900px;
    margin: auto;
}
.padding{
    /* adds padding around the main wrappper */
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
}

#starfish{
    /* positions the star fish in the top left making it hover over the text */
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 10px;
    padding-bottom: 15px;
}

nav ul{
    padding: 10px;
    text-align: center;
}

nav li{
    display: inline-block;
    font-size: 1.5rem;
    margin: 0px 40px;
    padding: 10px;
}

.story{
    /* adds border spacing out the nav bar */
    border-left: black;
    border-right: black;
    border-style: groove;
    padding-left: 140px;
    padding-right: 140px;
}

.facts{
    text-align: left;
    list-style: square;
    padding-left: 20px;
}

.form input,textarea{
    /* makes both the textboxes wider */
    width: 90%;
}
.visit h3{
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.button{
    padding-top: 20px;
}

.label{
    /* wrapper for the labeling section */
    background-color: azure;
    padding: 20px;
    border-radius: 30px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    }

body{
    /* changes the font of the whole code*/
    background-color:#aad4cf;
    font-family: 'Times New Roman', Times, serif;
}
footer p{
    text-align: right;
    padding: 20px;
}